<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} {level="%level",logger="%logger"} %gray([%thread]) %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.zaxxer.hikari" level="info"/>
    <logger name="org.apache.kafka" level="info"/>

    <logger name="momarket" level="trace" />
    
    <logger name="org.http4s.blaze.client.Http1Connection" level="info" />

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>
